<%- include("partials/head.ejs") -%> 

    <link rel="stylesheet" href="/css/dealer.css">
    <title>Dealers</title>

</head>

<%- include("partials/header.ejs"); -%> 

<section class="dealer-section">

    <h1 class="section-heading">Traders</h1>

    <div class="dealer-body">
        
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card mb-3 card-hover">
                    <div class="row g-0">
                        <div class="col-md-4 card-image">
                            <img src="/images/user_img.png" alt="" width="150%">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">Cintu Pandit</h5>
                            <div class="card-text" style="margin-left: 45px;"><h5>For Selling</h5>
                                <ul>
                                    <li>Paddy</li>
                                    <li>Mango</li>
                                    <li>Maize</li>
                                    <li>Ragi</li>
                                </ul>
                            </div>
                            <p class="card-text" style="text-align: center;"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
                            <div style="text-align: end; color: magenta;">Expand</div>
                            </div>
                        </div>
                        <div class="details">
                            <div class="center">
                                <h1>Cintu Mills<br><span>President</span></h1>

                                <ol style="list-style-type: disc; text-align: left;">
                                    <li>Address: 3, Variety City Block, Chennai, Tamil Nadu</li>
                                    <li>Email : abc@gmail.com</li>
                                    <li>Phone : 1234567890</li>
                                </ol>
                                <a href="/form"><input class="btn btn-warning" type="submit" value="Book Me"></a>
                                <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 card-hover">
                    <div class="row g-0">
                        <div class="col-md-4 card-image">
                            <img src="/images/user_img.png" alt="" width="150%">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">Amit Agarwal</h5>
                            <div class="card-text" style="margin-left: 45px;"><h5>For Selling</h5>
                                <ul>
                                    <li>Kiwi</li>
                                    <li>Apple</li>
                                    <li>Moong</li>
                                    <li>Urad</li>
                                </ul>
                            </div>
                            <p class="card-text" style="text-align: center;"><small class="text-muted">Rating: ⭐⭐⭐⭐</small></p>
                            <div style="text-align: end; color: magenta;">Expand</div>
                            </div>
                        </div>
                        <div class="details">
                            <div class="center">
                                <h1>Agro Shop<br><span>Vice-President</span></h1>
                                <ol style="list-style-type: disc; text-align: left;">
                                    <li>Address: 801, Sumer Zone Plaza, Mumbai – 400059</li>
                                    <li>Email : info@avontrade.com</li>
                                    <li>Phone : 1234247890</li>
                                </ol>
                                <a href="/form"><input class="btn btn-warning" type="submit" value="Book Me"></a>
                                <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 card-hover">
                    <div class="row g-0">
                        <div class="col-md-4 card-image">
                            <img src="/images/user_img.png" alt="" width="150%">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">Suresh Patel</h5>
                            <div class="card-text" style="margin-left: 45px;"><h5>For Selling</h5>
                                <ul>
                                    <li>Cotton</li>
                                    <li>Ground-Nut</li>
                                    <li>Sunflower-Seed</li>
                                    <li>Soyabean</li>
                                </ul>
                            </div>
                            <p class="card-text" style="text-align: center;"><small class="text-muted">Rating: ⭐⭐⭐</small></p>
                            <div style="text-align: end; color: magenta;">Expand</div>
                            </div>
                        </div>
                        <div class="details">
                            <div class="center">
                                <h1>Patel and Sons Traders<br><span>PR Head</span></h1>
                                <ol style="list-style-type: disc; text-align: left;">
                                    <li>Address: 22, Techniplex-1, Mumbai-400062, India</li>
                                    <li>Email : info@agribazaar.com</li>
                                    <li>Phone : 12342567890</li>
                                </ol>
                                <a href="/form"><input class="btn btn-warning" type="submit" value="Book Me"></a>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 card-hover">
                    <div class=""></div>
                    <div class="row g-0">
                        <div class="col-md-4 card-image">
                            <img src="/images/user_img.png" alt="" width="150%">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">Rajesh Sharma</h5>
                            <div class="card-text" style="margin-left: 45px;"><h5>For Selling</h5>
                                <ul>
                                    <li>Sesamum</li>
                                    <li>Okra</li>
                                    <li>Wheat</li>
                                    <li>Barley</li>
                                </ul>
                            </div>
                            <p class="card-text" style="text-align: center;"><small class="text-muted">Rating: ⭐⭐⭐⭐</small></p>
                            <div style="text-align: end; color: magenta;">Expand</div>
                            </div>
                        </div>
                        <div class="details">
                            <div class="center">
                                <h1>Avon Dealers<br><span>CCO of AVON</span></h1>
                                <ol style="list-style-type: disc; text-align: left;">
                                    <li>Address: 45 Kromo heights Builds, Lucknow, India</li>
                                    <li>Email : contact@agrotrade.com</li>
                                    <li>Phone : 2534567890</li>
                                </ol>
                                <a href="/form"><input class="btn btn-warning" type="submit" value="Book Me"></a>
                                <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 card-hover">
                    <div class=""></div>
                    <div class="row g-0">
                        <div class="col-md-4 card-image">
                            <img src="/images/user_img.png" alt="" width="150%">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">Pintu Kumar</h5>
                            <div class="card-text" style="margin-left: 45px;"><h5>For Selling</h5>
                                <ul>
                                    <li>Gram</li>
                                    <li>masur (Lentil)</li>
                                    <li>RapeSeed & Mustard</li>
                                    <li>Safflower</li>
                                </ul>
                            </div>
                            <p class="card-text" style="text-align: center;"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
                            <div style="text-align: end; color: magenta;">Expand</div>
                            </div>
                        </div>
                        <div class="details">
                            <div class="center">
                                <h1>B-Grow<br><span>Founder and CEO</span></h1>
                                <ol style="list-style-type: disc; text-align: left;">
                                    <li>Address: 3, Varietystore market, Chennai, Tamil Nadu</li>
                                    <li>Email : abc@gmail.com</li>
                                    <li>Phone : 1234567890</li>
                                </ol>
                                <a href="/form"><input class="btn btn-warning" type="submit" value="Book Me"></a>
                                <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 card-hover">
                    <div class=""></div>
                    <div class="row g-0">
                        <div class="col-md-4 card-image">
                            <img src="/images/user_img.png" alt="" width="150%">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">Krishna Babu</h5>
                            <div class="card-text" style="margin-left: 45px;"><h5>For Selling</h5>
                                <ul>
                                    <li>Toria</li>
                                    <li>Copra</li>
                                    <li>Coconut</li>
                                    <li>Jute</li>
                                </ul>
                            </div>
                            <p class="card-text" style="text-align: center;"><small class="text-muted">Rating: ⭐⭐⭐⭐</small></p>
                            <div style="text-align: end; color: magenta;">Expand</div>
                            </div>
                        </div>
                        <div class="details">
                            <div class="center">
                                <h1>Krishna Dealers<br><span>CEO and Founder</span></h1>
                                <ol style="list-style-type: disc; text-align: left;">
                                    <li>Address: 3, Variety store market Chennai, Tamil Nadu</li>
                                    <li>Email : abc@gmail.com</li>
                                    <li>Phone : 1234567890</li>
                                </ol>
                                <a href="/form"><input class="btn btn-warning" type="submit" value="Book Me"></a>
                                <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<%- include("partials/footer.ejs"); -%> 
