<%- include("partials/head.ejs") -%> 

    <link rel="stylesheet" href="/css/food-check.css">
    <title>Food Check</title>

</head>

<%- include("partials/header.ejs"); -%> 

<section class="food-check-section">
    <h1 class="food-check-section-heading">
        Food Testing
    </h1>
    <div class="section-head-image">
        <img src="/images/food page main picture.jpg" alt="food-check-image" width="100%">
    </div>
    <div class="food-content">
        <div class="row centering-row">
            <div class="col-sm-3">
                <div class="food-image">
                    <img src="/images/food picture 1.jpeg" alt="food-check-image" width="100%">
                </div>
            </div>
            <div class="col-md-7">
                <p class="food-para">
                    Food sampling is a process used to check that a food is safe and that it does not contain harmful contaminants, or that 
                    it contains only permitted additives at acceptable levels, or that it contains the right levels of key ingredients and its 
                    label declarations are correct, or to know the levels of nutrients present. A food sample is carried out by subjecting the 
                    product to physical analysis.
                </p>
            </div>

            <div class="col-md-12"><p class="ul-header" style="padding: 30px 0 15px;"><strong>An agricultural produce is preferred to be tested 
                for the following things:</strong>
            </p></div>

            <div class="col-lg-3">
                <div class="primary-nutrients-list">
                    <ul class="primary-list">
                        <li>Species identification </li>
                        <li>Food allergens </li>
                        <li>Dioxins </li>
                        <li>Mycotoxins </li>
                        <li>Pesticide residues </li>
                        <li>Food hygiene testing </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="primary-nutrients-list">
                    <ul class="primary-list">
                        <li>Polychlorinated biphenyls (PCBs) </li>
                        <li>Food microbiological testing </li>
                        <li>Food pathogen testing </li>
                        <li>Functional food testing </li>
                        <li>Genetically modified organisms </li>
                        <li>Food radioactivity contamination </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="food-image">
                    <img src="/images/food picture 2.jpg" alt="food-check-image" width="100%">
                </div>
            </div>

        </div>        

        <div class="links-card">
            <div class="card card-for-links" style="width: max-content; text-align: center;">
                <div class="card-header">
                <h5>Food Testing Service Providers</h5>
                </div>
                <table class="table table-secondary table-striped">
                    <tr>
                        <td>
                            <a href="https://www.sigmatest.org/food-agri-testing-india.html"> Sigma Food/Agri Testing <i class="fas fa-external-link-alt"></i></a>
                        </td>
                        <td>
                            <a href="https://www.sgsgroup.in/en-gb/agriculture-food/food"> SGS Food Testing <i class="fas fa-external-link-alt"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.ctllabs.in/spice-condiment-testing.html"> CTL Spice &amp; Condiment Testing <i class="fas fa-external-link-alt"></i></a>
                        </td>
                        <td>
                            <a href="https://www.ctllabs.in/rice-wheat-testing.html"> CTL Rice &amp; Wheat Testing <i class="fas fa-external-link-alt"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.ctllabs.in/cereals-testing.html"> CTL Cereals Testing <i class="fas fa-external-link-alt"></i></a>
                        </td>
                        <td>
                            <a href="https://www.ctllabs.in/fruits-vegetable-testing.html"> CTL Fruits &amp; Vegetable Testing <i class="fas fa-external-link-alt"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.jklaboratory.com/agriculture-testing-services.html"> J K Agricultural Testing Services <i class="fas fa-external-link-alt"></i></a>
                        </td>
                        <td>
                            <a href="https://www.jklaboratory.com/food-testing-services.html"> J K Food Testing Services <i class="fas fa-external-link-alt"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs"); -%> 
