<%- include("partials/head.ejs") -%> 

    <link rel="stylesheet" href="/css/news.css">
    <title>News</title>

</head>

<%- include("partials/header.ejs"); -%> 


<%- include("partials/footer.ejs"); -%> 
