<%- include("partials/head.ejs") -%> 

    <link rel="stylesheet" href="/css/seed-check.css">
    <title>Seed Check</title>

</head>

<%- include("partials/header.ejs"); -%> 

<section class="seed-check-section">
    <h1 class="seed-check-section-heading">
        Seed Testing
    </h1>
    <div class="section-head-image">
        <img src="/images/seed page main picture.jpg" alt="seed-check-image" width="100%">
    </div>
    <div class="seed-content">
        <div class="row centering-row">
            <div class="col-sm-3">
                <div class="seed-image">
                    <img src="/images/seed picture 1.jpg" alt="seed-check-image" width="100%">
                </div>
            </div>
            <div class="col-lg-7">
                <p class="seed-para">
                    Most plants propagate via seeds and for many crops, e.g., cereals and oil seeds, 
                    the seeds are the essential part of the harvest. In that way, seeds are outstandingly important. 
                    Determining the seed quality is a key step in seed breeding, seed production, seed trade, and seed storage.
                </p>
            </div>
            <div class="col-lg-7">
                <p class="seed-para">
                    This implies the properties of the seed as such as well as germination characteristics, together with tests 
                    for purity or weed contamination in seed batches. It is not only important to know what percentage of seeds do
                    germinate, but particularly how many of them deliver normal, usable plants.
                </p>
            </div>
            <div class="col-sm-3">
                <div class="seed-image">
                    <img src="/images/seed picture 2.jpg" alt="seed-check-image" width="100%">
                </div>
            </div>
        </div>

        <div class="links-card">
            <div class="card card-for-links" style="width: max-content; text-align: center;">
                <div class="card-header">
                <h5>Seed Testing Service Providers</h5>
                </div>
                <table class="table table-secondary table-striped">
                    <tr>
                        <td>
                            <a href="https://seednet.gov.in/material/seedtestinglabs.htm"> Government Seed Testing Laboratories <i class="fas fa-external-link-alt"></i></a>
                        </td>
                        <td>
                            <a href="http://genelon.in/seed-testing-services.php"> Genelon Seed Testing Services <i class="fas fa-external-link-alt"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.iihr.res.in/seed-testing-service"> ICAR-IIHR Seed Testing Service <i class="fas fa-external-link-alt"></i></a>
                        </td>
                        <td>
                            <a href="https://www.sgsgroup.in/en-gb/agriculture-food/seed-and-crop/seed-services/seed-testing"> SGS Seed Testing <i class="fas fa-external-link-alt"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs"); -%> 
