<%- include("partials/head.ejs") -%> 

    <link rel="stylesheet" href="/css/seed-check.css">
    <title>Seed Check</title>

</head>

<%- include("partials/header.ejs"); -%> 


<%- include("partials/footer.ejs"); -%> 
