<%- include("partials/head.ejs") -%> 

    <link rel="stylesheet" href="/css/soil-check.css">
    <title>Soil Check</title>

</head>

<%- include("partials/header.ejs"); -%> 

<section class="soil-check-section">
    <h1 class="soil-check-section-heading">
        Soil Testing
    </h1>
    <div class="section-head-image">
        <img src="https://static.eos.com/wp-content/uploads/2019/12/Soil_Testing_1920.png" alt="soil-check-image" width="100%">
    </div>
    <div class="soil-content">
        <div class="row">
            <div class="col-md-9" style="display: flex; align-items: center;">
                <p class="soil-text">Soil health becomes the most important aspect of the overall growth in Agriculture. It reflects the capacity of 
                    soil to respond to agricultural intervention. It is proposed that soil health is dependent on the maintenance of four 
                    major functions: carbon transformations; nutrient cycles, soil structure maintenance and the regulation of pests and 
                    diseases. Some soils are inherently deficient in plant nutrients. Other soils had sufficient levels of nutrients in the 
                    past, but crop harvest has depleted those reserves. 
                </p>
            </div>
            <div class="col-sm-3">
                <div class="soil-image">
                    <img src="/images/2.jpg" alt="soil-check-image" width="100%">
                </div>
            </div>
            
            <div class="col-md-12"><p class="ul-header" style="padding: 15px 0;">Let us help you understand your soil better. 
                Your soil needs to have an adequate amount of the following nutrients:
            </p></div>
            
            <div class="col-md-1 hidden-visi">happy</div>

            <div class="col-md-3">
                <div class="primary-nutrients-list">
                    <h4 style="text-align: center;"><strong>Primary Nutrients</strong></h4>
                    <ul class="primary-list">
                        <li>Phosphorus (P)</li>
                        <li>Potassium (K)</li>
                        <li>Nitrogen (N)</li>
                        <li>Calcium (Ca)</li>
                        <li>Magnesium (Mg)</li>
                        <li>Sulphur (S)</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="primary-nutrients-list">
                    <h4 style="text-align: center;"><strong>Other Nutrients</strong></h4>
                    <ul class="primary-list">
                        <li>Boron (B)</li>
                        <li>Copper (Cu)</li>
                        <li>Iron (Fe)</li>
                        <li>Manganese (Mn)</li>
                        <li>Molybdenum (Mo)</li>
                        <li>Zinc (Zn)</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="primary-nutrients-list">
                    <h4 style="text-align: center;"><strong>Testing Against:</strong></h4>
                    <ul class="primary-list">
                        <li>Arsenic (As)</li>
                        <li>Cadmium (Cd)</li>
                        <li>Nickel (Ni)</li>
                        <li>Lead (Pb)</li>
                        <li>Mercury (Hg)</li>
                        <li>Selenium (Se)</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-1 hidden-visi">happy</div>
            
        </div>
        
        <div class="links-card">
            <div class="card card-for-links" style="width: max-content; text-align: center;">
                <div class="card-header">
                <h5>Soil Testing Service Providers</h5>
                </div>
                <table class="table table-secondary table-striped">
                    <tr>
                        <td>
                            <a href="https://farmer.gov.in/stl.aspx">Government Laboratories <i class="fas fa-external-link-alt"></i></a>
                        </td>
                        <td>
                            <a href="https://www.eurofins.in/environment-testing/eurofins-soil-testing-service/">Eurofins Soil Testing Service <i class="fas fa-external-link-alt"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.sgsgroup.in/en-gb/agriculture-food/seed-and-crop/soil-leaf-and-water-services/soil-fertility-testing">SGS Soil Fertility Testing <i class="fas fa-external-link-alt"></i></a>
                        </td>
                        <td>
                            <a href="https://errl.co.in/errl-services/environmental-testing-and-consultancy/soil-and-sludge/">ERRL Soil and Sludge Testing <i class="fas fa-external-link-alt"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://genelon.in/soil-testing-services.php">Genelon Soil Testing Services <i class="fas fa-external-link-alt"></i></a>
                        </td>
                        <td>
                            <a href="https://www.nationaltestinglaboratory.net/mechanical-testing-services.html">National Testing Laboratory Soil Testing <i class="fas fa-external-link-alt"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.nationalagro.org/services.html">NAF Comprehensive Soil Analysis <i class="fas fa-external-link-alt"></i></a>
                        </td>
                        <td>
                            <a href="https://www.ctllabs.in/soil-testing.html">Chennai Testing Laboratory Soil Testing <i class="fas fa-external-link-alt"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    
    </div>
</section>

<%- include("partials/footer.ejs"); -%> 
