<%- include("partials/head.ejs") -%> 

    <link rel="stylesheet" href="/css/support.css">
    <title>Support</title>

</head>

<%- include("partials/header.ejs"); -%> 

<section class="support-section">

    <div class="card-block">
        <div class="container">
            <div class="card">
                <div class="front side">
                    <h1 class="logo">Agri Aid</h1>
                </div>
                
                <div class="back side">
                    <div class="back-data">
                        <h3 class="name">Agri Aid</h3>
                        <div>One Stop solution for Farmers</div>      
                        <div class="info">
                            <p><span class="property">Email: </span>abc@xyz.com</p>
                            <p><span class="property">Twitter: </span>@abcxyz</p>
                            <p><span class="property">Phone: </span>(123) 456-7890</p>
                            <p><span class="property">Website: </span>farm-aid.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="youtube-help">
        <div class="support-search">
            <form class="d-flex" action="/support" method="POST" target="_blank" autocomplete="off">
              <input class="form-control me-2" type="search" name="videoSupport" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="youtube-block-heading">
            <h1>
                Videos
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="youtube-vid-container">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cd4xLdNIJzk"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="youtube-vid-container">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SDavMGU3rmY"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="youtube-vid-container">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4RynKvdG3nw"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="youtube-vid-container">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/K_yPjGOg9q0"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="youtube-vid-container">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BBkRH7XiGYQ"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="youtube-vid-container">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wcvFhcCVvC4"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

</section>

<%- include("partials/footer.ejs"); -%> 

