<%- include("partials/head.ejs") -%> 

    <link rel="stylesheet" href="/css/water-check.css">
    <title>Water Check</title>

</head>

<%- include("partials/header.ejs"); -%> 

<section class="water-check-section">
    <h1 class="water-check-section-heading">
        Water Testing
    </h1>
    <div class="section-head-image">
        <img src="https://www.digitrac.in/pub/media/magefan_blog/Sprinkler_irrigation_after_cut.jpg" alt="water-check-image" width="100%">
    </div>
    <div class="water-content">
        <div class="row centering-row">
            <div class="col-sm-3">
                <div class="water-image">
                    <img src="/images/water_pic_1.png" alt="water-check-image" width="100%">
                </div>
            </div>
            <div class="col-lg-7">
                <p class="water-para">
                    For effective and optimal agricultural irrigation an adequate supply of usable quality water is required. If the 
                    quality of irrigation water is compromised it might end up having a negative effect on the soil and even the crops. 
                    The yield will be substantially reduced, and the soil will be eventually ripped off its nutrients and microorganisms. 
                    Furthermore, it will lead to a stunted crop.
                </p>
            </div>
            <div class="col-lg-7">
                <p class="water-para">
                    Another commonly noted problem that affects the usability of irrigation water is regarding the salinity of the water, 
                    its infiltration rate, and the presence of certain harmful toxins such as sodium, chloride, and boron. Thus, the irrigation 
                    water needs to be tested against Ammonium, Nitrate, Arsenic, Cadmium, Calcium, Manganese, Chloride, Copper, Zinc, Electrical 
                    Conductivity, Sodium Adsorption Ratio, and Potassium.
                </p>
            </div>
            <div class="col-sm-3">
                <div class="water-image">
                    <img src="/images/water_pic_2.jpg" alt="water-check-image" width="100%">
                </div>
            </div>
        </div>

        <div class="links-card">
            <div class="card card-for-links" style="width: max-content; text-align: center;">
                <div class="card-header">
                <h5>Water Testing Service Providers</h5>
                </div>
                <table class="table table-secondary table-striped">
                    <tr>
                        <td>
                            <a href="https://www.eurofins.in/eurofins-environment-testing/water-testing-service/">Eurofins Water Testing Service <i class="fas fa-external-link-alt"></i></a>
                        </td>
                        <td>
                            <a href="https://www.sgsgroup.in/en-gb/agriculture-food/seed-and-crop/soil-leaf-and-water-services/water-testing">SGS Water Testing <i class="fas fa-external-link-alt"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.nationalagro.org/services.html">National Agro Foundation Water Analysis <i class="fas fa-external-link-alt"></i></a>
                        </td>
                        <td>
                            <a href="http://www.hitechlab.org/water_analysis.html">High Tech Water Analysis <i class="fas fa-external-link-alt"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://genelon.in/water-testing-services.php">Genelon Water Testing Services <i class="fas fa-external-link-alt"></i></a>
                        </td>
                        <td>
                            <a href="https://www.ctllabs.in/water-analysis.html">Chennai Testing Laboratory Water Testing <i class="fas fa-external-link-alt"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs"); -%> 
