.market-body{
    background-color: #ccffbd94;
}

.market-price-table{
    width: 60%;
    margin: auto;
    padding: 50px 0;
}

caption{
    display: table-caption;
    text-align: center;
    font-family: 'Merienda', cursive;
}

caption h5{
    font-size: 1.5rem;
}

table{
    text-align: center;
}

td{
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
}

@media screen and (max-width: 600px) {
    .market-price-table{
        width: 95%;
    }
}
