.predictor-section{
    padding: 5% 20%;
    background-image: url("/images/crop_sell_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.form-container{
    background-color: rgba(255, 255, 255, 0.596);
    border-radius: 15px;
    padding: 30px 0;
    box-shadow: 0px 0px 20px 5px black;
    backdrop-filter: blur(5px);
}

.prediction-heading{
    display: flex;
    justify-content: center;
    padding: 0 0 5%;
}

.prediction-title{
    font-family: 'Merienda', cursive;
    text-align: center;
}

.predictor-form{
    width: 70%;
    margin: auto;
}

.flex-center{
    display: flex;
    justify-content: center;
}

sup{
    color: red;
    font-size: 1.1rem;
}

.btn{
    font-size: 1.2rem;
    font-family: 'Libre Baskerville', serif;
}

.output-data{
    display: flex;
    justify-content: center;
}

.output-data span{
    font-family: 'Vidaloka', serif;
}

.more-padding{
    padding: 0 20px;
}

.button-style{
    border: 5px double chartreuse;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .form-floating>label{
        font-size: 0.7rem;
    }

    .predictor-section{
        padding: 5%;
    }
}

@media (min-width: 700px) and (max-width: 1110px) {
    .predictor-section{
        padding: 5% 10%;
    }
}
